
<h1> <%= @user.name %> </h1>

<p> Bio: <%= @user.bio %> </p>
<p> Height: <%= @user.height %> inches </p>
<p><a href="mailto:<%= @user.contact %>" target="_top">Email</a></p>
<% if @user == current_user %>
<%= link_to "Edit", profile_edit_path %>
<% end %>


<h3> Current open partner searches: </h3>
<% @seeks.each do |s| %>
<% if s.is_open %>
<p> <%= s.level %> <%= s.role %> seeking a partner for <%= s.style %> at
  <%= link_to s.comp.name, comp_show_path(s.comp) %> </p>
<% end %>
<% end %>
