<h1> <%= @comp.name %> </h1>

<p> Date: <%= @comp.date %> </p>
<p> Contact: <%= @comp.contact %> </p>
<p> Location: <%= @comp.location %> </p>
<a href=<%=@comp.website%>> Website </a>

<h2> Open partner searches:</h2>
<% @seeks.each do |s| %>
  <% if s.is_open %>
<p> <%= link_to s.user.name, user_show_path(s.user) %> is a <%= s.level %>
  <%= s.role %> seeking a partner for <%= s.style %> </p>
  <% end %>
<% end %>

<p> No open searches right for you?
<% if current_user %>
<%= link_to "Post a new search", create_search_path %>
<% else %>
<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
to post a new search </p>
<% end %>
